html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    background: repeating-radial-gradient(
      circle,
      #eeeeee,
      #eeeeee 10px,
      #e5e5e5 10px, 
      #e5e5e5 30px
    );
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#canvas {
    /* position:absolute; */
    /* left:0px; */
    /* top:0px; */
    /* border: 1px solid red; */
    /* width: 800px; */
    /* height: 600px; */
}
